.header {
  justify-content: space-evenly;
  align-items: center;
}

.mobile-option {
  display: none;
}
.mobile-menu {
  display: none;
}
@media (max-width: 1025px) {
  
  .nav-options {
    align-items: center;
    /* justify-content: space-between; */
    text-align: center;
    display: flex;
    width: 100%;
    height: 310px;
    position: absolute;
    top: 64px;
    left: -100%;
    opacity: 0;
    transition: all 0.1s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }
  .nav-options.active {
    color: #fff;
    background: #131313;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 10;
    align-content: center;
    padding: 0px;
    border-radius: 0 0px 20px 0px;
    border-bottom-style: solid;
	border-color: #3d9be9;
    width: 100%;
  }

  .menu-icon {
    width: 40px;
    height: 40px;
    color:#3d9be9;
    /* infill: #3d9be9; */
  /* -webkit-filter: invert(0);
          filter: invert(1); */

  }
  .option a{
    display: flex;
    height: 10vw;
    padding: 0;
  }
}
.mobile-menu {
  display: block;
}
