:root {
  --dc: #091020;
  --lllc: #e1f4fb;
  --llc: #66fcf1;
  --lc: #101d3a;
  --rc: #1f2833;
}

/* :root {
    --dc: #2F3B4E;
    --lllc: #E1F4FB;
    --llc: #66fcf1;
    --lc: #F5F7F7;
    --rc: #1F2833;
    --ddc: #2F3B4E
} */

#fest-video-mob {
  display: none;
}

body {
  overflow-x: hidden;
  font-family: monospace;
  padding: 0px;
  margin: 0px;
  background-color: var(--dc);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  30% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

html {
  /* scroll-behavior: smooth; */
}

* {
  color: var(--lllc);
  font-family: "Josefin Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

#loading {
  background-color: var(--dc);
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 10;
  text-align: center;
  /* display: none; */
}

#loading-logo {
  font-size: 3em;
  margin-top: calc(50vh - 2em);
  animation: loadinglogo 0.5s linear infinite alternate;
}

@keyframes loadinglogo {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(0.6);
  }
}

#fest-video {
  position: fixed;

  width: 80%;
  height: 90vh;
  margin-left: 10%;
  margin-top: 5vh;
  z-index: 100;
  box-shadow: 50px 50px 200px black;
  display: none;
  border-radius: 40px;
}

#fest-video-overlay {
  position: fixed;
  height: 200vh;
  width: 300vw;
  background-color: black;
  opacity: 0.5;
  z-index: 95;
  display: none;
}

#full-img {
  position: fixed;
  max-height: 90vh;
  max-width: 90vw;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 96;
  box-shadow: 10px 10px 30px black;
  display: none;
  border-radius: 10px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--dc);
  width: 100%;
  height: 50px;
  padding: 0px;
  position: fixed;
  top: -70px;
  z-index: 5;
  /* box-shadow: 0px 0px 10px black; */
  transition: 0.3s ease-out;
}

#ns {
  position: absolute;
  background-color: transparent;
  top: 0px;
}

#nav {
  box-shadow: 0px 0px 50px rgb(14, 14, 14);
}

nav:hover {
}

#logo {
  margin: auto 20px auto 20px;
  display: block;
  color: white;
}

#menu-btn {
  margin: auto 20px auto auto;
  height: 35px;
  width: 35px;
  display: none;
  z-index: 5;
}

#btn-bar {
  border-radius: 2px;
  margin: 5px auto 5px auto;
  height: 4px;
  width: 90%;
  background-color: #66fcf1;
  transition: transform 0.25s;
}

#nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3vw;
  width: 100%;

  /* display: none; */
}

#nav-list li {
  /* text-decoration: none; */
  color: white;
}

#about-video svg {
  position: relative;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  fill: rgb(73, 73, 73);
  height: 100px;
  width: 100px;
}

#about-video:hover #play-btn {
  fill: rgb(214, 27, 27);
}

#nav-item {
  margin-left: 3%;
  font-size: 1.1em;
  padding: 8px 10px 8px 10px;
  cursor: pointer;
  letter-spacing: 2.5px;
  transition: 0.1s;
  color: white;
}

.log-in {
  width: auto;
  border: solid 2px white;
}

.register {
  border: solid 2px white;
  color: var(--dc);
  background-color: #45a29e;
  padding-right: 10px;
}

#nav-item:hover {
  transform: scale(1.02);
  /* box-shadow: 0.1px 0.1px 5px#66fcf1; */

  background-color: #45a29e;
}

.register:hover {
  background-color: var(--dc);
}

.nav-reg {
  display: none;
}

.bar1 {
  transform-origin: right;
}

.bar3 {
  transform-origin: right;
}

#intro {
  background-color: #0b0c10;
  background-image: url(../img/web/tinified/vr_bg_1.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 55vw;
  opacity: 1;
}

#intro-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 110%;
  width: 100%;
  background-color: var(--dc);
  opacity: 0;
}

#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: var(--lc);
  color: var(--lllc);
  /* border-top: solid 1px white; */
  /* border-bottom: solid 2px white; */
  box-shadow: 0px -1px 100px rgb(0, 0, 0);
  padding: 100px 10px 100px 10px;
}

#about h1 {
  font-size: 4em;
  font-family: cursive;
  margin-bottom: 15px;
}

#about p {
  font-size: 1.3em;
}

.about-left {
  padding: 20px;
  text-align: center;
  width: 50%;
  /* margin: -100px 10%; */
  /* border: solid 2px black; */
}

.about-right {
  margin: auto 10px auto 10px;
  padding: 30px;
  /* border: solid 2px black;s */
}

#about-video {
  height: 15vw;
  width: 30vw;
  border-radius: 10px;
  box-shadow: 3px 3px 20px black;
  transition: 0.5s;
  background-color: #45a29e;
  background-image: url(../img/web/vr_bg_1.jpg);
  background-size: 100%;
}

#about-video:hover {
  transform: scale(1.05);
}

.introOver {
  position: absolute;
  height: 120%;
  width: 100%;
  background-color: var(--dc);
  opacity: 0.5;
}

.logo {
  margin-top: 5px;
  height: 30px;
  min-width: 300px;
  transform: translateX(-50px);
}

@keyframes wave {
  0% {
    x: -400px;
  }

  100% {
    x: 0;
  }
}

@keyframes fill-up {
  0% {
    height: 50px;
    y: 130px;
  }

  40% {
    height: 160px;
    y: -30px;
  }

  80% {
    height: 160px;
    y: -30px;
  }

  100% {
    height: 50px;
    y: 130px;
  }
}

.water-fill {
  animation: wave 0.7s infinite linear, fill-up 15s infinite ease-out;
}

#gallery-head {
  color: var(--lllc);
  text-align: center;
  font-family: cursive;
  font-size: 4em;
  margin-top: 2vw;
}

.gallSec {
  background-color: var(--dc);
  color: var(--lllc);
}

#gallery {
  font-size: 2em;
  margin: 2vw auto 20px auto;
  color: #0b0c10;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 6vw;
  margin-right: 6vw;
  padding-top: 50px;
  padding-bottom: 50px;
}

#gallery img {
  height: 200px;
  box-shadow: 2px 2px 10px black;
  border-radius: 5px;
  margin: 1vw;

  transition: 0.5s;
}

#gallery img:hover {
  transform: scale(1.05);
}

.footer {
  width: 33.3%;
  height: 100%;
  background-color: #c5c6c7;
}

/*Gallery css*/

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Open Sans", sans-serif;
  margin-left: 35px;
}

#gallery ul {
  list-style-type: none;
}

#gallery ul li {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

#gallery ul li .mosaicItem {
  width: 400px;
  height: 400px;
}

#gallery ul li .mosaicItem > a .text {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: 600;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

#gallery ul li .mosaicItem > a:hover .text {
  bottom: 0;
  opacity: 1;
}

#gallery ul li .popin {
  display: flex;
  text-align: center;
  position: fixed;
  top: -100%;
  transition: all ease 0.5s;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#gallery ul li .popin:target {
  top: 0;
  opacity: 1;
}

#gallery ul li .popin:target .imgBox {
  position: relative;
  z-index: 998;
}

#gallery ul li .popin:target .imgBox:before {
  content: "✖";
  position: fixed;
  right: 10px;
  top: 10px;
  color: white;
  z-index: 999;
}

#gallery ul li .popin:target .imgBox img {
  border: 3px solid white;
}

#gallery ul li .popin .overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 899;
}

/* For mobile  */

@media screen and (max-width: 728px) {
  * {
    overflow-x: hidden;
  }

  body {
    /* overflow-y: hidden; */
  }

  .body-svg {
    top: -30vw;
  }

  #nav-list {
    display: flex;
    flex-direction: column;
    height: 120vh;
    background-color: var(--dc);
    justify-content: flex-start;
    width: 50%;
    padding: 0px;
    position: fixed;
    left: 100%;
    top: 50px;
    transition: 0.3s;
    margin-top: 0px;
    box-shadow: 2px 3px 10px black;
  }

  #nav-item-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 85%;
  }

  #nav-img-list {
    margin-bottom: 10px;
    /* align-self: flex-start; */
    display: flex;
    width: 80%;
    margin-right: 20px;
    flex-direction: row;
    justify-content: space-between;
  }

  #nav-img-list li {
    height: 50px;
    padding: 3px;
    width: 60px;
  }

  #nav-img-profile {
    padding-top: 3px;
  }

  #nav-item {
    text-align: center;
    align-content: flex-start;
    width: 85%;
    margin: 4vh auto 0vh auto;
  }

  #menu-btn {
    position: fixed;
    top: 8px;
    right: 2px;
    display: block;
  }

  .logo {
    transform: translateX(-25vw) translateY(0.5vw);
  }

  .about-left {
    font-size: 1.1em;
    padding: 20px;
    text-align: center;
    width: 90%;
    /* border: solid 2px black; */
  }

  .about-right {
    margin: auto 10px auto 10px;
    padding: 10px;
    display: none;
    /* border: solid 2px black; */
  }

  #about-img {
    height: 250px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px black;
    transition: 0.5s;
  }

  #int-btn {
    display: block;
    border: solid 2px white;
    width: 130px;
    color: white;
    background-color: #45a29e;
    padding: 12px;
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;

    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translateX(-50%) translateY(150%); */
    cursor: pointer;
  }

  #int-btn:hover {
    background-color: transparent;
  }

  #int-btn:active {
    background-color: transparent;
  }

  #intro {
    background-image: url(../img/web/vr_bg_2.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 100vh;
  }

  /* #nav {
        display: none;
    } */

  #Layer_1 {
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-top: 40px;

    /* position: relative; */
    /* left: 50vw; */
    /* top: 70px; */
    /* transform: translateY(20vh); */
  }

  #gallery img {
    height: 100px;
    overflow: hidden;
  }

  /* #body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

*/
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    30% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  #fest-video-mob {
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer */
    -khtml-user-select: none;
    /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none;
    /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none;

    cursor: pointer;
    border: solid 2px white;
    padding: 10px;
    margin: 30px;
    background-color: #45a29e;
    color: white;
    box-shadow: 1px 1px 5px white;
    display: block;
  }

  #ns {
    /* display: none; */
    z-index: 2;
  }
}

@media screen and (max-width: 378px) {
  .logo {
    transform: translateX(-25vw) translateY(1vw);
  }

  * {
    overflow-x: hidden;
  }

  /* #menu-btn {
    transform: translateX(10vw);
    position: fixed;
    top: 8px;
    right: 0px;
} */
}

/* #intro {
    background-image: url(../img/web/vr_bg_2.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 70vh; 

} */

/* footer css */

.site-footer {
  background-color: var(--dc);
  padding: 20px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  text-align: center;
}

/* project page  */

.card {
  position: relative;
  height: 350px;
  width: 300px;
  /* border: solid 1px black; */
  perspective: 1000px;
  transform-style: preserve-3d;
  margin: 50px;
  margin-top: 35px;
  overflow: visible;
  z-index: 2;
}

.front,
.back {
  position: absolute;
  width: 300px;
  height: 350px;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-align: center;
  background-color: blueviolet;
  transition: transform 1s;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 2px 14px black;

  /* margin: 20px auto 20px auto; */
}

#regBtn {
  border: solid 1px white;
  padding: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  margin-top: 30px;
}

.front img {
  height: 100%;
  width: 100%;
}

.front {
}

.back {
  transform: rotateY(180deg);
  background-color: var(--dc);
  padding: 20px;
  border: solid 2px white;
  box-sizing: border-box;
}

.card:hover .front {
  transform: rotateY(180deg);
}

.card:hover .back {
  transform: rotateY(360deg);
}

#events_con {
  background-color: var(--dc);
}

#events_con {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--dc);
}

#events_con {
  overflow-x: hidden;
  font-family: monospace;
  padding: 0px;
  margin-top: 90px;
  margin-bottom: 90px;
  background-color: var(--dc);
}

.drama {
  text-align: center;
}

.con {
  padding: 30px;
  background-color: var(--dc);
}

.eveH {
  margin: 0px;
  width: 100%;
  background-color: var(--dc);
  /* position: -webkit-sticky; */
  /* position: sticky; */
  padding: 2px;
  top: 50px;
  right: 0px;
  z-index: 5;
  text-align: center;
}

.eveH h1 {
  margin: 10px;
}

.proSec {
  background-color: var(--dc);
  color: var(--lllc);
}

.proCard h2 {
  color: white;
}

/* team section  */

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  background-color: var(--lc);
  color: var(--ddc);
}

.proCard {
  height: 400px;
  width: 300px;
  background-color: #0a1325;
  border-radius: 30px;
  border: solid 2px white;
  margin: 80px 30px 80px 30px;
  text-align: center;
  box-shadow: 1px 1px 10px rgb(143, 142, 140);
}

h5 {
  color: rgb(211, 195, 195);
}

.proimg {
  height: 150px;
  width: 150px;
  border-radius: 80px;
  background-color: #d0d2d8;
  margin: 40px auto 10px auto;
  overflow: hidden;
}

.proimg img {
  /* height: 150px; */
  width: 150px;
  overflow: hidden;
}

.social {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.social img {
  border-radius: 3px;
  height: 40px;
  width: 40px;
}
